<section class="content-header">
    <h1>
        대시보드
    </h1>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
	<div class="col-lg-3 col-xs-3">
		<div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    150만원
                </h3>
                <p>
                	최근 30일 누적 매출
                </p>
            </div>
            <a href="#" class="small-box-footer">
            	상세리포트 확인 <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>	
	</div><!-- ./col -->
	<div class="col-lg-3 col-xs-3">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    350
                </h3>
                <p> 
                    유료매장 수
                </p>
            </div> 
            <a href="#" class="small-box-footer">
                상세리포트 확인 <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
	<div class="col-lg-3 col-xs-3">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    750
                </h3>
                <p> 
                    등록매장 수
                </p>
            </div> 
            <a href="#" class="small-box-footer">
                상세리포트 확인 <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
	<div class="col-lg-3 col-xs-3">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    150
                </h3>
                <p> 
                    검수대상 매장 수
                </p>
            </div> 
            <a href="#" class="small-box-footer">
                검수하러 가기 <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div>

<div class="box box-info">
	<div class="box-header">
        <h3 class="box-title">최근 90일 매출</h3>
    </div>
    <div class="box-body chart-responsive">
    	<div class="chart" id="line-chart" style="height: 300px;"></div>
    </div><!-- /.box-body -->
</div><!-- /.box -->
</section><!-- /.content -->
